
.dhx_dataview_item {
	width: 100% !important;
}


/*
.dhxcont_global_content_area, .dhxcont_global_layout_area, .gridbox{
	width: 100% !important;
}


.dhtmlxLayoutPolyContainer_dhx_skyblue div{

}
*/
/*
.dhtmlxLayoutSinglePoly div{
	width: 100% !important;
} 
*/ 

.block-print img { 

	/*display: none;*/	

}

@media print {
	
	
  @page { margin: 0cm 0cm 0cm 0cm;
  
  
   }
}



.block-print img { 

   display: block;	
	
	/*
   transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   */
   /*width: 20cm;*/
   /*margin-left: 3cm;*/
   

}


.block-print a:nth-child(odd)  img{ 
	/*margin-top: -3cm;*/
	
}
.block-print a:nth-child(even) img{ 

    page-break-after: always;
    /*margin-top: -4cm;*/
}
 
