.dhx_dataview_item {
	width: 100% !important;
}


/*
.dhxcont_global_content_area, .dhxcont_global_layout_area, .gridbox{
	width: 100% !important;
}


.dhtmlxLayoutPolyContainer_dhx_skyblue div{

}
*/
/*
.dhtmlxLayoutSinglePoly div{
	width: 100% !important;
} 
*/ 

.rotated { 
	
   transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   
   page-break-after: always;
   
   margin-left: 100px;
   max-height: 600px;
   max-width:  600px;
   
 }
 