.dhx_dataview_item {
	width: 100% !important;
}


/*
.dhxcont_global_content_area, .dhxcont_global_layout_area, .gridbox{
	width: 100% !important;
}


.dhtmlxLayoutPolyContainer_dhx_skyblue div{

}
*/
/*
.dhtmlxLayoutSinglePoly div{
	width: 100% !important;
} 
*/ 