<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <style>
   @media print {
    .more {
        page-break-after: always;
     	padding: 10x;
    } 
    
    .nobreak {
        page-break-inside: avoid;
    }
    
   } 
  </style>
 </head>
 <body>
 
 
 {% for item in pages %}
 
  <div class="more">

	<b>Наименование: </b>{% if "name" in results %} {{ results["name"] }} {% end %}</br>

	<b>Партия: </b>{% if "num" in results %} {{ results["num"] }} {% end %}</br>

	<b>Срок годности: </b>{% if "best_before" in results %} {{ results["best_before"] }} {% end %}</br>

	<b>Дата производства: </b>{% if "production_date" in results %} {{ results["production_date"] }} {% end %}</br>
	{{ results["prim"] or "" }}</br>
	<b>Поставщик: </b>{% if "provider" in results %} {{ results["provider"] }} {% end %}</br>
	<!-- <b>Ответственный: </b>{% if "responsible" in results %} {{ results["responsible"] }} {% end %}</br>  -->
		
	<img src="/warehouse/print_barcode/?code={{ int(item['barcode']) }}">
	
	</div>
{% end %}


</body>
</html>